.App {
  text-align: center;
  background-color: rgb(99, 95, 95);
  color: white;
  height: 100vh;
}
ul {
  width: 80%;
  margin-left: 10%;
}
li {
  list-style: none;
}
.Done {
  text-decoration: line-through;
}
.Border {
  border: solid 1px;
}
